:root {
    --section-padding: 16px;
}



* {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: flex;
    background: white;
    align-items: center;
}

@media screen and (max-width: 600px) {
    body {
      flex-direction: column;
    }
    #side-banner-container {
        max-height: 50vh;
    }
}

main {
    flex-grow: 2;
}

#description {
    padding: var(--section-padding);
}

#signup-container {
    background: rgb(240, 240, 240);
    padding: var(--section-padding);
}

form {
    padding: var(--section-padding);
    display: grid;
    grid-template-columns: auto auto;
}

#side-banner-container {
    position:relative;
    text-align: center;
    width: max-content;
    max-width: 50vh;
    height: 100vh;
    background-image: url(/images/food.jpg);
    background-size: cover;
}

#logo-container {
    background:rgba(22, 22, 22, 0.658);
    position: relative;
    top: 40%;
}

#logo-container img {
    width: 10%;
    height: fit-content;
}

#side-banner-container h1{
    color: white;
    font-size: 64px;
    padding: 16px 0;
}

#side-banner-container p {
    position: absolute;
    bottom: 1%;
    right: 1%;
    color: white;
    background: rgba(233, 233, 233, 0.2)
}