@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

:root {
    --section-padding: 16px;
    font-size: 18px;
    --color-invalid: red;
    --color-valid: green;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: flex;
    background: white;
    align-items: center;
}

@media screen and (max-width: 700px) {
    body {
      flex-direction: column;
    }
    #side-banner-container {
        max-height: 50vh;
    }
}

main {
    flex-grow: 2;
}

#description {
    padding: var(--section-padding);
}

#signup-container {
    background: rgb(240, 240, 240);
    padding: var(--section-padding);
    box-shadow: 5px 10px 8px #888888;
}

#signup-container p {
    font-size: 12px;
    /* color: #888888; */
}

form {
    padding: var(--section-padding);
    display: grid;
    grid-template-columns: 1fr 5fr;
    column-gap: 8px;
    row-gap: 10px;
}

.input-section {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 4px;
}

label {
    color: #B4886B;
    font-weight: bold;
    font-size: 16px;
}

#account {
    padding: var(--section-padding) 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.input-section {
    width: 180px;
}

input {
    border: 1px solid rgb(173, 173, 173);
    border-radius: 4px;
}

input:focus {
    border: 1px solid rgb(255, 255, 255);
    outline: 2px solid rgb(206, 110, 0);
}

input:required:valid {
    /* border: 2px solid rgb(0, 196, 0); */
    background: rgb(255, 255, 255) url(images/check.svg) right no-repeat;
    background-size: 25px;
}
input:not(:focus):not(:placeholder-shown):valid {
    border-color: var(--color-valid);
    
}

input:not(:focus):not(:placeholder-shown):invalid {
    border-color: var(--color-invalid);
}

.error-message {
    opacity: 0;
    font-weight: bold;
    padding: 4px;
    word-wrap: break-word;
}
input:not(:focus):not(:placeholder-shown):invalid ~ .error-message {
    display: block;
    color: var(--color-invalid);
    opacity: 1;
}

input[type=submit] {
    padding: 10px 40px;
    text-decoration: none;
    font-size: 16px;
    background:rgb(206, 110, 0);
    border: none;
    border-radius: 8px;
    color: white;
    box-shadow: 2px 2px 4px #888888;
}

#side-banner-container {
    position:relative;
    text-align: center;
    width: max-content;
    max-width: 50vh;
    height: 100vh;
    background-image: url(images/food.jpg);
    background-size: cover;
    min-height: 200px;
    min-width: 400px;
    display: flex;
}

#logo-container {
    background:rgba(22, 22, 22, 0.658);
    /* position: relative;
    top: 40%; */
    align-self: flex-start;
    margin-top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--section-padding);
    font-family: 'Viga', sans-serif;
}

#logo-container img {
    width: 20%;
    height: fit-content;
}

#side-banner-container h1{
    color: white;
    /* font-size: 64px; */
    padding: 16px 0;
}

#side-banner-container p {
    position: absolute;
    bottom: 1%;
    right: 1%;
    color: white;
    background: rgba(233, 233, 233, 0.2);
    font-size: 12px;
}

a {
    text-decoration: none;
}